@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass';
}

h1{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

p,.rate{
    font-weight: 400;
    color: hsl(217, 12%, 63%);
    font-family: 15px;
    letter-spacing: 1%;
}

span{
    background-color: #4c5454;
    border-radius: 100%;
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(216, 12%, 8%);
}

button{
    background-color: hsl(25, 97%, 53%);
    border: none;
    height: 13%;
    width:90%;
    margin-left: 5%;
    border-radius: 38px;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
}

button:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    width: fit-content;
    height: fit-content;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 13%;
    width: 26%;
    height: 50vh;
    padding: 30px;
    background-color: #1e252f;
    border-radius: 30px;
}
.RatingArea{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.rate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
}

.rate:hover,.rate p:hover{
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
}

.rateSelect {
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
}

.selectedRate{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.selectedRate .bgcolor{
    background-color: hsla(217, 12%, 63%, 0.14);
    padding: 7px 15px;
    border-radius: 50px;
}

.selectedRate svg{
    margin-bottom: 35px;
}

.bgcolor p{
    color: hsl(25, 97%, 53%);
}

.ThankText h1{
    text-align: center;
}

.ThankText p{
    text-align:center;
}

.hide{
    display: none;
}

/* responsive */
@media only screen and (max-width: 426px){
    .main{
        width: 90%;
        margin-top: 35%;
        gap: 15px;
        padding: 20px 15px;
    }

    .rate{
        height: 40px;
        width: 40px;
    }

    button{
        height: 50px;
        text-align: center;
    }

    .selectedRate p{
        letter-spacing: 0;
        font-size: smaller;
    }

    .bgcolor{
        padding: 0;
    }

    .selectedRate svg{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 769px) and (min-width: 426px){
    .main{
        width: 55%;
        margin-top: 24%;
        gap: 15px;
        padding: 20px 15px;
        height: 55vh;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1024px){
    .main{
        width: 45%;
        margin-top: 24%;
        gap: 18px;
        padding: 20px 15px;
        height: 40vh;
    }
}

@media screen and (min-width:1440px){
    .main{
        margin-top: 25%;
        height: 38vh;
    }
}